<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{site.title}}</title>

    
    <!-- Custom styles for this template -->
    <!--[if lte IE 8]> <link href="{{assets}}/styles/ie.min.css" rel="stylesheet"> <![endif]-->
    <!--[if gt IE 8]><!--> <link href="{{assets}}/styles/main.css" rel="stylesheet"> <!--<![endif]-->
  </head>
  <body>



    <main>

      {{> body }}

    </main>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{assets}}/scripts/lib/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   
    <script src="{{assets}}/scripts/main.js"></script>
  </body>
</html>
